html{
  line-height: 1.2em;
  font-family: arial;
  font-size: 1.0;
}



body {
  background: gray;
  

}
h1{
  text-align: center;
}

.wrapper {
  background-color: tan;
  padding: 10px;
  text-align: center;
  
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:left;
}

input[type=submit] {
  width: 100%;
  background-color: darkgoldenrod;
  color: black;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: saddlebrown;
}

label {

  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  body {
    background-color:lightgray;
  }
  .wrapper {
    width: 40%;
    margin: auto;
    text-align: left;
}
  input[type=text]{
    border: 1px solid black;
  }
  input[type=submit]{
    width:20%;
    margin:auto;
    border:1px solid black;
  }
}


